<h3> View Employee Details</h3>

<div>
    <div>
        <label><b> First Name: </b></label> {{ employee.firstName }} <!-- Use Angular interpolation to use the porperty of the component  -->
    <div>
    <div>
        <label><b> Last Name: </b></label> {{ employee.lastName }} <!-- Use Angular interpolation to use the porperty of the component  -->
    <div>
    <div>
        <label><b> Email: </b></label> {{ employee.emailId }} <!-- Use Angular interpolation to use the porperty of the component  -->
    <div>
</div>
